<h1><center> Ideas </center></h1>

<div class="container">
  <h2> New Idea </h2>
  <div id='new-idea'>
    <input class='validate' type="text" id="idea-title" value="New Title">
    <input class='validate' type="text" id="idea-body" value="New Description">
    <input class="btn btn-default pull-right" id="create-idea" type="button" name="submit" value="Save">
  </div>

  <h2> All Ideas </h2>
  <div id='idea-index'>
    <div class="input-field">
    </div>
  </div>
</div>
