  <div class="row">
    <div class="col s3">
      <h3> Have an Idea? </h3><br>
      <div id='new-idea'>
        <input class='validate' type="text" id="idea-title" placeholder="New Title">
        <input class='validate' type="text" id="idea-body" placeholder="New Description"><br>
        <input class="btn btn-default pull-right" id="create-idea" type="button" name="submit" value="Save">
      </div><br>
    </div>
    <div class="col s8">
      <h3><center> All Ideas </center></h3>
      <div class="container">
        <div id="search-bar">
          <input class='validate' type="text" id="search-text" placeholder="Search">
        </div>
      </div>
      <div class="row">
        <div class= "container" id="search-bar">
          <input class='validate' type="text" id="search-text" placeholder="Search">
        </div>
        <center><button class="btn btn-default pull-right" id="sort-index" name="submit"> Sort Ideas </button></center>

        <div class="col s11 offset-s1" id='idea-index'>
        </div>
      </div>
    </div>
  </div>
